.public-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  height: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: -38px;

  & a {
    display: flex;
    align-items: center;
    margin-right: 26px;

    & img {
      vertical-align: top;
    }
  }

  & a:last-child {
    margin-right: 0;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.container {
  min-width: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #D1D2DF;
  padding: 24px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 144px;
}

.login-header {
  margin-bottom: 48px;
  text-align: center;
}

.login-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(209, 210, 223, 0.2);
  height: 60px;
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-dark);
  padding: 20px 0;
  border-radius: 6px;

  &:hover {
    background: #EDEDF2;
    color: var(--color-dark);
  }

  & img {
    margin-right: 10px;
  }
}

.login-divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 12px;
  background-color: #ffffff;
  z-index: 2;

  & h4 {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #76789E;
    z-index: 2;
    background-color: #ffffff;
    padding: 0 24px;
  }

  & .login-divider__background {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    background-color: var(--color-gray-medium);
    height: 1px;
    z-index: 1;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-dark);
  margin-bottom: 12px;

  & input {
    margin-top: 6px;
  }

  & select {
    margin-top: 6px;
  }
}

.form-button {
  background: #2A3196;
  border-radius: 6px;
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  height: 60px;
  margin-top: 12px;

  &:hover {
    background-color: #555AAB;
  }
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #2A3196;
}

.link-sing-up {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #46B3ED;
}

.login-footer__text-container {
  display: flex;
  align-items: center;
}

.login-footer__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(26, 30, 93, 0.6);
  margin-right: 5px;
  padding: 0;
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 30, 93, 0.9);
  z-index: 100;
}

.modal-wrapper {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 60px 80px;
  max-width: 460px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px;

  &:hover {
    cursor: pointer;
  }
}

.modal-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1A1E5E;
  margin-top: 0;
  padding: 0;
  margin-bottom: 6px;
}

.modal-text__small {
  font-size: 16px;
  line-height: 24px;
  color: #76789E;
  margin-left: 8px;
}

.modal-loading {
  display: flex;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1A1E5D;
}

.alert-danger {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-error);
  padding: 0;

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -16px;
    margin-bottom: 12px;
  }
}

.alert-success {
  font-weight: bold!important;
  margin-top: 24px!important;
  color: #00a157!important;
}

.dashboard-container {
  max-width: 940px;
  margin: 0 auto;
}

.verify-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 12px;
}

.login-container.verify-container {
  max-width: 300px;
  & p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1A1E5D;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
  }

  & .login-form {
    align-items: center;
    margin-top: 24px;

    & .form-button {
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;
    }
  }

}
